/* Header.css */

header {
  background-color: #283e4a;
  padding: 10px 0;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-and-search {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover {
  background-color: #1e2934;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.profile-name {
  margin-left: 20px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}